<nav>

<%= link_to "Welcome to Wisdom!",root_path %>
<%= link_to "Sheets index",sheets_path %>
<%= link_to "Create a new sheet", new_sheet_path %>
<%= link_to "Contact", welcome_contact_path %>
<%= link_to "About", welcome_about_path %>
<%= link_to "FAQ", welcome_faq_path %>

</nav>
